.customForm {
    margin-top: 1em;

    section {
        margin: 0.5em 0;
        display: grid;
        grid-template-columns: 200px calc(100% - 200px);
        align-items: center;

        @media (width < 800px) { grid-template-columns: 1fr }
    }

    .nameContainer {
        display: flex;
        flex-direction: row;
        gap: 8px;

        input { flex-grow: 1; width: 75px }
        button { margin: 0 }
        svg { margin-left: 0 }

        @media (width < 450px) {
            button .btnText { display: none }
            svg { margin-right: 0 }
        }
    }

    h3 { user-select: none; white-space: nowrap; margin: 0.5em 0 }

    .actionsHeader {
        display: flex;
        flex-direction: row;
        align-items: center;

        .label { flex-grow: 1 }
        .createActionBtn { flex-shrink: 1; margin: 0 }
    }
}