.customForm {
    margin-top: 1em;

    section {
        margin: 0.5em 0;
        display: grid;
        grid-template-columns: 200px calc(100% - 200px);
        align-items: center;

        @media (width < 800px) { grid-template-columns: 1fr }
    }

    h3 { user-select: none; white-space: nowrap; margin: 0.5em 0 }

    .actionsHeader {
        display: flex;
        flex-direction: row;
        align-items: center;

        .label { flex-grow: 1 }
        .createActionBtn { flex-shrink: 1; margin: 0 }
    }
    
    .buttons {
        display: flex;
        gap: 1em;
        margin-top: 1em;

        button { flex: 1 1 0; margin: 0 }
    }
}