.monsterForm {
    section {
        margin: 1em 0;
        display: grid;
        grid-template-columns: 200px calc(100% - 200px);
        align-items: center;
        gap: 8px;

        @media (width < 800px) { grid-template-columns: 1fr }
    }

    h3 { user-select: none; white-space: nowrap; margin: 0.5em 0 }

    .creatureTypes {
        overflow: hidden;
        border-radius: 8px;
        display: grid;
        
        grid-template-columns: repeat(16, 1fr);
        @media (width < 1400px) { grid-template-columns: repeat(8, 1fr) }
        @media (width < calc(800px + 6em)) { grid-template-columns: repeat(4, 1fr) }
        @media (width < calc(400px + 6em)) { grid-template-columns: 1fr 1fr; height: 100px; overflow-y: scroll }
        @media (width < calc(200px + 6em)) { grid-template-columns: 1fr }

        &::-webkit-scrollbar { width: 12px; }
        &::-webkit-scrollbar-track { background: #fff1 }
        &::-webkit-scrollbar-thumb { background: #888 }

        button {
            padding: 8px;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0;

            img {
                border-radius: 8px;
                width: 40px;
                margin-bottom: 1em;
            }

            &.active { background: #fff3 }
            &:hover { background: #fff2 }
        }
    }

    .challengeRating {
        .range {
            width: 100%;
            padding: 8px 0;
            display: flex;
            flex-direction: row;
            align-items: center;

            .value { width: 40px; font-weight: normal; &:last-child { text-align: end } }
            .thumb { height: 16px; width: 8px; background: #c88 }
            .track { height: 4px; background: white; flex-grow: 1 }
            .mark { height: 12px; width: 3px; background: white; border-radius: 4px; @media (width < 450px) { display: none } }
        }
    }

    .searchResults {
        border-radius: 8px;
        outline: 4px solid #fff1;

        .header {
            width: 100%;
            background-color: #fff1;
            border-radius: 8px 8px 0 0;
            padding: 0.5em 1em;
            display: flex;
            flex-direction: row;

            >div {
                flex: 1 1 0;
                padding: 0.5em;

                svg { width: 1em; margin-left: 1em }
            }
        }

        .result {
            max-height: 600px;
            overflow-y: auto;
            overflow-x: hidden;
            
            &::-webkit-scrollbar { width: 12px; }
            &::-webkit-scrollbar-track { background: #fff1 }
            &::-webkit-scrollbar-thumb { background: #888 }

            .placeholder { width: 100%; padding: 2em; text-align: center; color: #aaa; user-select: none; }

            button {
                width: 100%;
                text-align: left;
                margin: 0;
                border-radius: 0;
                background: transparent;
                &:hover { background: #fff1 }

                .stats {
                    float: right;
                    font-weight: lighter;
                    font-size: smaller;
                    padding-top: 4px;
                    padding-left: 1ch;

                    &:not(:last-child) {
                        @media (width < 600px) { display: none }
                    }
                }
            }
        }
    }
}