@import '/styles/mixins';

.monsterForm {
    section {
        margin: 1em 0;
        display: grid;
        grid-template-columns: 200px calc(100% - 200px);
        align-items: center;
        gap: 8px;

        @media (width < 800px) { grid-template-columns: 1fr }
    }

    h3 { user-select: none; white-space: nowrap; margin: 0.5em 0 }

    .creatureTypes {
        @include scrollable;
        overflow: hidden;
        border-radius: 8px;
        display: grid;
        
        grid-template-columns: repeat(16, 1fr);
        @media (width < 1400px) { grid-template-columns: repeat(8, 1fr) }
        @media (width < calc(800px + 6em)) { grid-template-columns: repeat(4, 1fr) }
        @media (width < calc(400px + 6em)) { grid-template-columns: 1fr 1fr; height: 100px; overflow-y: scroll }
        @media (width < calc(200px + 6em)) { grid-template-columns: 1fr }

        button {
            padding: 8px;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0;

            img {
                border-radius: 8px;
                width: 40px;
                margin-bottom: 1em;
            }

            &.active { background: #fff3 }
            &:hover { background: #fff2 }
        }
    }

    .searchResults {
        border-radius: 8px;
        outline: 4px solid #fff1;

        .header {
            width: 100%;
            background-color: #fff1;
            border-radius: 8px 8px 0 0;
            padding: 0.5em 1em;
            display: flex;
            flex-direction: row;

            >div {
                flex: 1 1 0;
                padding: 0.5em;

                svg { width: 1em; margin-left: 1em }
            }
        }

        .result {
            height: 40vh;
            min-height: 200px;
            overflow-x: hidden;
            @include scrollable;

            .placeholder { width: 100%; padding: 2em; text-align: center; color: #aaa; user-select: none; }

            .monster {
                width: 100%;
                text-align: left;
                margin: 0;
                border-radius: 0;
                background: transparent;
                &:hover { background: #fff1 }
                &.active { background: #fff3 }

                .stats {
                    float: right;
                    font-weight: lighter;
                    font-size: smaller;
                    padding-top: 4px;
                    padding-left: 1ch;

                    &:not(:last-child) {
                        @media (width < 600px) { display: none }
                    }
                }

            }
        }
    }
}