.playerForm {
    
    h3 { user-select: none }

    .classes {
        overflow: hidden;
        border-radius: 8px;
        display: grid;
        
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        @media (width < 900px) { grid-template-columns: 1fr 1fr 1fr 1fr }
        @media (width < 600px) { grid-template-columns: 1fr 1fr 1fr }
        @media (width < 450px) { grid-template-columns: 1fr 1fr }
        @media (width < 300px) { grid-template-columns: 1fr }

        .class {
            padding-left: 0;
            padding-right: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0;

            img {
                border-radius: 8px;
                width: 50px;
                margin-bottom: 1em;

                @media (width < 600px) { display: none }
            }

            &.active { background: #fff3 }
        }
    }

    .levels {
        overflow: hidden;
        border-radius: 8px;
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        @media (width < 800px) { grid-template-columns: repeat(10, 1fr) }
        @media (width < 400px) { grid-template-columns: repeat(5, 1fr) }
        @media (width < 200px) { grid-template-columns: repeat(4, 1fr) }
        @media (width < 160px) { grid-template-columns: 1fr 1fr }
        
        .level {
            padding-left: 0;
            padding-right: 0;
            margin: 0;
            border-radius: 0;
            &.active { background: #fff3 }
        }
    }

    .classOptions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 8px;

        @media (width < 1200px) { grid-template-columns: 1fr 1fr; }
        @media (width < 800px) { grid-template-columns: 1fr; }

        .option {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            
            :last-child { flex-grow: 1 }
        }
    }
}