@import '../../styles/shared';

.simulation {
    @include genericContainer;

    @include lowWidth() {
        width: 461px;
    }

    .round {
        margin-bottom: 8px;
    
        .lifebars {
            display:flex;
            flex-direction: row;

            @include lowWidth() {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
