@import '../../styles/shared';

.teams {
    @include genericContainer;
    display:flex;
    flex-direction: row;
    position: relative;

    @include lowWidth() {
        flex-direction: column;
        
        hr {
            width: 100%;
            border-bottom: 1px solid #888;
        }
    }

    .team {
        width: 50%;
        margin: 0 8px;
        display: flex;
        flex-direction: column;
    }

    .surprise {
        float: right;
    }

    .lifebars {
        flex: 1 1 0px;
    }

    .remove {
        position:absolute;
        right: 8px;
        top: 8px;
        height: 32px;
        width: 32px;
        
        transition: color 0.5s;
        color: #888;
        &:hover { color: #333 }
    }
}