.creature {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    margin: 4px;
    border-left: 2px solid #88f;
    
    label {
        font-size: small;
        position: relative;

        .tooltip {
            position: absolute;
            background: #333;
            color: #ddd;
            width: max-content;
            z-index: 2;
            padding: 4px;
            border-radius: 4px;

            p:first-child, p:last-child { margin: 0 }
        }

        &:not(:hover) .tooltip, .tooltip:hover {
            visibility: hidden;
        }
    }

    input {
        background: transparent;
        border: none;
        width: 40px;
        border-radius: 4px;
        transition: border 0.5s;
        
        &.name {
            width: 130px;
        }
    }
    
    select {
        width: 100px;
        background: none;
        border: none;
    }
    
    .inputGroup {
        display: flex;
        flex-direction: column;
        transition: background-color 0.5s;
        border-radius: 6px;

        &:hover {
            background: #cfcfcf;
        }

        button {
            margin: 0 2px;
        }

        .count {
            display:flex;
            flex-direction: row;
            align-items: center;
            width: 60px;

            svg {
                border-radius: 8px;
                height: 10px;
                width: 10px;
                padding: 4px;
                margin: 0 2px;


                background: #88f;
                &.disabled { background: #aaa; color: #888 }
                &:not(.disabled) { cursor: pointer }
            }
        }
    }
}
