.creature {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    margin: 4px;
    border-left: 2px solid #88f;
    
    label {
        font-size: small;
        position: relative;

        .tooltip {
            position: absolute;
            background: #333;
            color: #ddd;
            width: max-content;
            z-index: 2;
            padding: 4px;
            border-radius: 4px;

            p:first-child, p:last-child { margin: 0 }
        }

        &:not(:hover) .tooltip, .tooltip:hover {
            visibility: hidden;
        }
    }

    input {
        background: transparent;
        border: none;
        width: 40px;
        border-radius: 4px;
        transition: border 0.5s;
        
        &.name {
            width: 130px;
        }
    }
    
    select {
        width: 100px;
        background: none;
        border: none;
    }
    
    .inputGroup {
        display: flex;
        flex-direction: column;
        transition: background-color 0.5s;
        border-radius: 6px;

        &:hover {
            background: #cfcfcf;
        }

        .count {
            display:flex;
            flex-direction: row;
            align-items: center;
            width: 60px;

            button {
                padding: 0;
                margin: 0 2px;
                border-radius: 100%;
                min-width: 16px;
                min-height: 16px;
                
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-family: Georgia, 'Times New Roman', Times, serif;              
            }
        }
    }
}
