.encounter {
    height: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ddd;

    .text {
        overflow-x: hidden;
        transition: width 0.25s;
        width: 100px;
    }
    &:not(:hover) .text {
        width: 0;
    }

    svg {
        height: 40px;
        width: 40px;
        transition: transform 0.25s ease-out;
        transform: rotate(0deg)
    }
    &:hover svg {
        transform: rotate(270deg);
    }

}
