.encounterForm {
    position: relative;
    width: 100%;
    border-radius: 8px;
    background-color: #544;
    padding: 1em;
    display: flex;
    flex-direction: column;

    .addCreatureBtn { margin: 0 }

    .deleteEncounter {
        position: absolute;
        top: 1em;
        right: 0.5em;
        background: transparent!important;
    }

    .header {
        user-select: none;
        cursor: default;

        &::after {
            counter-increment: encounters 1;
            content: " " counter(encounters);
        }
    }

    .monsters {
        margin: 1em 0;
        display: flex;
        flex-direction: column;

        .monster {
            background: transparent;
        }
    }
}