.encounterForm {
    position: relative;
    width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: #544;
    padding: 1em;
    display: flex;
    flex-direction: column;

    .addCreatureBtn { margin: 0 }

    .encounterActions {
        position: absolute;
        top: 1em;
        right: 0.5em;
        display: flex;
        gap: 4px;

        button {
            border-radius: 4px;
            padding: 4px;
            &:not(:hover) {background: transparent }
        }
        svg {
            margin: 0;
        }
    }

    .header {
        user-select: none;
        cursor: default;

        &.monster::after {
            counter-increment: encounters 1;
            content: " " counter(encounters);
        }
    }

    .formBody {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (width < 600px) { grid-template-columns: 1fr }
    }

    .creatures {
        margin: 1em 0;
        gap: 8px;
        display: grid;

        .creature {
            flex: 1 1 0;

            padding: 8px 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 8px;
            transition: background-color 0.3s;
            gap: 8px;

            &:hover { background: #fff1 }

            .name { flex-grow: 1 }
            
            input[type=number] {
                width: 50px;
            }

            button {
                padding: 1em;
                margin: 0;

                label { display: none }
            }

            .inlineInput {
                display: flex;
                align-items: center;
                gap: 4px;
            }

            @media (width < 450px) {
                flex-direction: column;
                align-items: flex-start;
                border-bottom: 1px solid #fff8;
                border-radius: 0;

                .name { font-weight: bold }

                .inlineInput {
                    width: 100%;
                    justify-content: space-between;
                }

                button { width: 100% }
                button label { display: initial }
            }
        }
    }

    .encounterSettings {
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}