// General style & layout
html, body, #__next, main {min-height: 100vh; background: #433; color: #eee; margin: 0; padding:0;}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div, button {
    box-sizing: border-box;
}

h1, h2 { margin: 0 }
button {
    border-radius: 8px;
    border: none;
    color: #eee;
    padding: 1em 2em;
    margin: 8px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;

    background-color: #fff1;
    transition: background-color 0.3s;
    
    &:hover:not(.disabled) { background-color: #fff3 }

    &:disabled {
        background: transparent;
        color: #aaa;
        cursor: initial;
        pointer-events: none;
    }

    svg {
        margin: 0 1em;
        width: 1em;
    }
}

input {
    padding: 1em;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    background: #fff1;
    transition: background-color 0.3s;
    &:hover { background: #fff3 }
    &::placeholder { color: #aaa }
}