@import '/styles/mixins';

// General style & layout
html { @include scrollable }
html, body, #__next, main {min-height: 100vh; background: #433; color: #eee; margin: 0; padding:0;}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main, input, button { font-size: 10pt; }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div, button {
    box-sizing: border-box;
}

h1, h2 { margin: 0 }
button {
    position: relative;
    border-radius: 8px;
    border: none;
    color: #eee;
    padding: 1em 2em;
    margin: 8px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;

    background-color: #fff1;
    transition: background-color 0.3s;
    
    &:hover:not(.disabled) { background-color: #fff3 }

    &:disabled {
        background: transparent;
        color: #aaa;
        cursor: initial;
        pointer-events: none;
    }

    svg {
        margin: 0 1em;
        width: 1em;
    }
}

input {
    padding: 1em;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    background: #fff1;
    transition: background-color 0.3s;
    &:hover { background: #fff3 }
    &::placeholder { color: #aaa }
}

.tooltipContainer {
    position: relative;

    &:hover {
        .tooltip {
            display: initial;
            opacity: 1;
        }
    }    

    .tooltip {
        position: absolute;
        bottom: calc(100% + 8px);
        left: 50%;
        transform: translateX(-50%);
        min-width: 200px;
        padding: 1em;
        border-radius: 8px;
        background: #433;
        z-index: 1;
        display: none;
        opacity: 0;
        transition: opacity 0.3s;
        box-shadow: 0 10px 20px 2px #fff1;

        &::before {
            content: "";
            width: 0;
            border-top: 8px solid #433;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}