.checkbox {
    background: none!important;
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
        border: 2px solid white;
        padding: 0.2em;
        transition: color 0.1s;
    }

    &:not(.checked) svg { color: transparent }
}